.seperator {
  width: 100vw;
  height: 5px;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  animation: rotate 3s infinite linear;
  -webkit-animation: rotate 3s infinite linear;
}
  
@keyframes rotate {
  from {
    background-position: -100vw;
  }
  to { 
    background-position: 0px;
  }
}

.gradient {
  background: orangered;
  background: linear-gradient(to right,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 ); /* IE6-9 */
}